body {
    display: flex;
    flex-flow: row wrap;
}
.blackbox {
    height: 50px;
    width: 50px;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.blackbox:hover {
    color: white;
}
